@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }


*{
    box-sizing: border-box;
}

.balance-container{
    text-align: center;
}

body{
    align-items: center;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.btn{
    background-color: #9c88ff;
    border: 0;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}

.btn:focus,
.delete-btn:focus{
    outline: none;
}

.container{
    margin: 30px auto;
    width: 350px;
}

.delete-btn{
    background: #e74c3c;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    left:0;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

.list li:hover .delete-btn{
    opacity: 1;
}

.form-control{
    margin:10px 0;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    width: 100%;
}

h1{
    letter-spacing: 1px;
    margin: 0;
}

h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4{
    margin: 0;
    text-transform: uppercase;
}

.inc-exp-container{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    margin:20px 0;
    padding: 15px;
}

/* Both divs inside income/expense container */
.inc-exp-container > div{
    flex: 1;
    text-align: center;
}

/* First div inside income/expense container*/
.inc-exp-container > div:first-of-type{
    border-right: 1px solid #dedede;
}

.inc-exp-container .money{
    font-size: 20px;
    letter-spacing: 1px;
}

.inc-exp-container .money.minus{
    color: #c0392b;
}

.inc-exp-container .money.plus{
    color: #2eec71;
}

.list{
    list-style-type: none;
    /* margin-bottom: 40px */
    padding: 0;
}

.list li{
    background: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    /* margin:10px 0 */
    padding: 10px;
    position: relative;
}

.list li.minus{
    border-right: 5px solid #c0392b;
}

.list li.plus{
    border-right: 5px solid #2ecc71;
}